/* Your card CSS file */
.cards {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-wrap;
  justify-content: center;
  max-width: 100%;
}

.card-feature {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-width: 260px;
  min-width: 200px;
  min-height: 250px;
  font-size: 16px;
  background-color: #50d890;
  border-radius: 8px;
  border: 2px solid #615756;
  opacity: 0.7;
  margin: 30px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  transition: 0.4s ease-in-out;
}

.card-feature:hover {
  opacity: 1;
}

.card-feature svg {
  padding-top: 16px;
  max-width: 124px;
  height: 124px;
}

.card-feature h3 {
  font-size: 24px;
}
.card-feature h3, .card-feature p {
  margin: 0;
  padding: 8px;
}
